/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 40px; /* Vertically center the text there */
}

.custom-nav-ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.custom-nav 
{
    float: left;
}

.custom-nav a 
{
    display: block;
    color: #dd9933!important;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: Montserrat;
    text-decoration: none;
    cursor: pointer;
    margin-right: 30px;
}

#menuNav
{
    height: 105px;
}

#PageContainer
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#PageFormContainer
{
    margin-left: 0;
    margin-right: 0;
    padding: 15px 30px;
    min-width: 260px;
}

.brandColor
{
    color: #ff8400 !important;
}

#LoginBtn
{
    width: 75%;
    height: 57px;
    color: #ff8400;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid #ff8400;
    font-weight: bold;
}

.custom-Input-Box1
{
    border: 1px solid transparent !important;
    border-bottom: 2px solid silver !important;
}

.custom-Input-Box1:focus
{
    border: 1px solid #ff8400 !important;
    box-shadow: none;
}

#topBanner
{
    background: #ef870f;
    height: 34px;
}

.topBanner-links
{
    display: flex;
    margin-top: 7px;
    margin-right: 10px;
    border-left: 1px solid rgba(0,0,0,.1);
    padding-left:10px;
}

.dashIcos
{
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-right: 3px;
    font-size: 16px;
}

#DashboardLogoContainer
{
    margin-top: -30px;
    margin-left: 10px;
}

.brandColor2
{
    color:#005AEE  !important;
}