@model GcwensaHrApp.ViewModels.Account.LoginViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@{
    ViewData["Title"] = "Login";
}

<div id="PageContainer">
    <div class="row" id="PageFormContainer">
        <div class="text-center w-100">
            <img src="img/logo.png" id="LoginLogo" />
        </div>
        <h1 class="w-100 text-center fs-10" style="margin-top: 30px;">Please Login</h1>
        <div class="w-100" style="margin-top:20px">
            <section>
                <form asp-action="Login" id="account" method="post" onsubmit="ButtonLoader()">
                    <div asp-validation-summary="All" class="text-danger fs-4"></div>
                    <div class="form-group">
                        <label class="fs-4">*Username</label>
                        <input asp-for="Email" class="form-control txtBox-3 custom-Input-Box1 fs-4" placeholder="USERNAME" />
                        <span asp-validation-for="Email" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group">
                        <label class="fs-4">*Password</label>
                        <div style="display:flex">
                            <input asp-for="Password" class="form-control txtBox-3 custom-Input-Box1 fs-4" id="password-field" type="password" placeholder="PASSWORD" />
                            <span toggle="#password-field" class="fa fa-eye field-icon toggle-password" style="margin-left: -30px;margin-top: 10px;color:silver"></span>
                        </div>
                        <span asp-validation-for="Password" class="text-danger fs-4"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <div class="row" style="margin-left:auto; margin-right:0">
                                <div>
                                    <label class="fs-4" asp-for="RememberMe">
                                        <input asp-for="RememberMe" class="brandColor"/>
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                                <div style="margin-left:auto">
                                    <p>
                                        <a class="fs-4 brandColor" id="forgot-password" style="margin-right:15px">Lost Your Password</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary fs-5 txtBox-8" id="LoginBtn" data-loading-text="<i class='fa fa-spinner fa-spin '></i>Loading..." onclick="ButtonLoader()">LOGIN</button>
                    </div>
                    <div class="form-group text-center">
                        <p class="fs-4">
                            Dont have account? <a class="fs-4 brandColor" onclick="OpenRegistrationPage()" id="NoAccount" style="cursor:pointer">SIGNUP</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


    <script>

        $(document).ready(function() 
        {
            //location.reload();
            $("#menuNav").hide();
            $("#MainPageLoader").hide();
        });

        $(".toggle-password").click(function() 
        {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") 
            {
                input.attr("type", "text");
            }
            else 
            {
                input.attr("type", "password");
            }
        });

        function LoginLoader() 
        {
            $("#MainPageLoader").show();
        }

        function ButtonLoader()
        {
            var $this = $(this);
            $this.button('loading');
            setTimeout(function ()
            {
                $this.button('reset');
            }, 8000);
        }

        function OpenRegistrationPage()
        {
            var url = '@Url.Action("Register","Account")';
            window.location = url;
        }

    </script>